@import './utils.scss';

.table {
    width: 200px;
}

.table,
.row,
.cell {
    margin: 10px; overflow: hidden;
    font-size: $size;
}

.table {
    @include border(#000);

    @include mediaquery('phablet') {
        @include border(#0f0);
    }
}

.row {
    @include border(#f00);
}

.cell {
    @include border(#00f); padding: 10px;
}
